<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Home Page</title>
</head>
<body>
    <div class="general-container">
        <nav>
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/posting-expenses">Posting Expenses</a></li>
                <li><a href ="/tracking-expenses">Track Expenses</a></li>
            </ul>
        </nav>
        <div id="container-welcome-username">
            <h1 id ="welcome-user-title">Welcome! First, Let's Get To Know Each Other</h1>
                <div id="div-input-button-username-to-add">
                    <input
                        placeholder="Enter username..."
                        type="text" 
                        id="username-to-add" >
                    <button type="button" id="button-add-username">Add me</button>
                </div>
        </div>
        <div id = "content-to-add">
        </div>

       
        <h1 id="BudgetBuddy-index-page">BudgetBuddy</br><span id="slogan-index-page">Your Trusted Partner in Financial Management!</span></h1>
            
        <div class="div-introductory-paragrap-index-page">
            <p class="introductory-paragrap-index-page">
                BudgetBuddy simplifies expense management by offering a seamless platform to post your expenses effortlessly. 
                Whether incurred in CHF, USD, EUR, or GBP, it allows you to record them conveniently. 
            </br></p>
            
            <p class="introductory-paragrap-index-page">Upon posting your expenses, BudgetBuddy also facilitates tracking them by automatically updating an Excel sheet. </br></p>
            <p class="introductory-paragrap-index-page">This system ensures efficient expense recording and provides the added benefit of converting expenses into CHF for comprehensive financial monitoring.</br></p>
            
            
            <button id="create-new-excel-sheet">Create New Excel Sheet </button>
            
            <form action = '/' method="post">
            <!-- How to create a modal
                 https://www.w3schools.com/howto/howto_css_modals.asp  
            -->
                <div id="modal-index-page">
                
                    <div class="modal-content">
                        <span class="close-modal">&times;</span>
                        <label id ="label-modal" for="sheet-name">Enter sheet name:</label>
                        <input type="text" id="input-sheet-name" name="sheet-name">
                        <button id="submit-new-name-sheet" type="submit">Submit</button>
                    </div>

                </div>
            </form>
            <img id='img-index-page'src="../static/spreadsheet.svg" alt="" >
    </div>
    <script src="../static/index.js"></script>

</body>
</html>