<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Home Page</title>
</head>
<body>
    <div class="general-container">
        <nav>
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/posting-expenses">Posting Expenses</a></li>
                <li><a href ="/tracking-expenses">Track Expenses</a></li>
            </ul>
        </nav>

       
            <h1 id="BudgetBuddy-index-page">BudgetBuddy</br><span id="slogan-index-page">Your Trusted Partner in Financial Management!</span></h1>
            
            <div class="div-introductory-paragrap-index-page">
            <p class="introductory-paragrap-index-page">
                BudgetBuddy simplifies expense management by offering a seamless platform to post your expenses effortlessly. 
                Whether incurred in CHF, USD, EUR, or GBP, it allows you to record them conveniently. 
            </br></p>
            
            <p class="introductory-paragrap-index-page">Upon posting your expenses, BudgetBuddy also facilitates tracking them by automatically updating an Excel sheet. </br></p>
            <p class="introductory-paragrap-index-page">This system ensures efficient expense recording and provides the added benefit of converting expenses into CHF for comprehensive financial monitoring.</br></p>
            <p id="last-paragrap-index-page">In addition, BudgetBuddy offers these features entirely for free!</p>
            
            </div>
            <img id='img-index-page'src="../static/spreadsheet.svg" alt="" >

        
    </div>
    <script src="../static/script.js"></script>


</body>
</html>