<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Track Your Expense</title>
</head>
<body>
    <div id="general-container-tracking">

        <nav>
            <ul class="ul-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/posting-expenses">Posting Expenses</a></li>
                <li><a href ="/tracking-expenses">Track Expenses</a></li>
            </ul>
        </nav>

        <h2 id="title-tracking-expenses-page">BudgetBuddy Helps You Keep Track of Your Expenses!</h2>

        <form  id="form-for-selecting-sheet" action ="/tracking-expenses" method="post" name = 'show-expenses'> 
            <p>Select Excel Sheet</p>
        </form>
            
        
        <div class="container-only-for-track-expenses">
            <p>Track expenses</p>
        </div>

    </div>
    <script src="../static/tracking-expenses.js"></script>

</body>
</html>